* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    background-color: navy;
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu a:hover {
    color: yellow;
    font-size: 120;
}

.title {
    color: navy;
    text-align: center;
    margin: 10px 0px;
}

.card {
    display: flex;
}

.card-image {
    text-align: center;
    margin: 5px;
    width: 200%;
}

.card-table {
    display: grid;
    text-align: center;
    flex-direction: row;
}

.card-text {
    flex-direction: row;
    text-align: center;
}

.redes-sociais {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}

.redes-sociais img {
    width: 64px;
    height: 64px;
    margin: 0 6px;
}

hr {
    background-color: navy;
    height: 5px;
    width: 75%;
    margin: 10px auto;
}

ul {
    list-style-type: none;
}